## PyTorch
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.0

## RL libs
ray[rllib]==2.3.1
ray[default]==2.3.1 # for cluster running
gymnasium==0.26.3
pettingzoo==1.22.1
supersuit==3.7.0 # normalization wrappers
numpy

# environment related
pygame==2.1.2

# others, for visualization and others
matplotlib
tqdm
tensorboard
jupyterlab
opencv-python
gputil
